body {
    margin: auto;
}

header {
    background: url(main-picture.svg);
    width: 1920px;
    height: 1110px;
}

.logo {
    width: 209px;
    height: 88px;
    padding-left: 120px;
    padding-top: 40px;
}

li {
    list-style-type: none; 
   }

.menu-list {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    width: 356px;
    height: 24px;
    position: absolute;
    top: 70px;
    left: 1176px;
    display: flex;
    justify-content: space-between; 
}

.menu-element {
    display: inline-flex; 
   }

.phone-number {
    color: white;
    width: 182px;
    height: 35px;
    position: absolute;
    left: 1618px;
    top: 65px;
    display: flex;
    justify-content: space-between;
  
}

.phone-icon {
    width: 35px;
    height: 35px;
}

.number {
    align-items: center;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 5px;
}

h1 {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #F7F2F2;

}

.main-title-what-we-do {
    position: absolute;
    left: 120px;
    top: 300px;
}

.description {
    position: absolute;
    left: 120px;
    top: 410px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #F7F2F2;
}

.how-to-dance {
    position: absolute;
    left: 120px;
    top: 585px;
    width: 350px;
    height: 80px;
    border-radius: 40px;
    background-color: #F46C20;
    color: #351D01;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.social {
    position: absolute;
    left: 157px;
    top: 765px;
    position: absolute;
    width: 300px;
    height: 80px;
    left: 163px;
    top: 765px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    letter-spacing: 0.14em;

}

.write-to-icons {
    width: 40px;
    height: 40px;
    display: inline-flex; 
    padding-right: 40px;
}

.what-to-do {
    padding-left: 12px;
}

.sensual {
    margin-top: 100px;
    margin-left: 262px;
    width: 1396px;
    height: 594px;
}

.sensual>div {
    width: 38%;
    margin-right: 2%;
    float: left;

}


.text-sensual {
    margin-right: 0;
    display: inline-block;
    position: absolute;
    top: 1200px;
    left: 1175px;
    white-space: normal;
    width: 483px;
  
}

.sensual-title {
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;
    margin: 5px;
    
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: #141414;
    padding-top: 40px;
}


.join-a-group-btn {
    border-color: #F46C20;
    border: 2px solid;
    background-color: white;
    color: #F46C20;
    border-radius: 40px;
    width: 350px;
    height: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
     /*зачем вообще флекс нужен + какие способы расставлять на странице объекты, кроме абсолюта?*/
    align-items: center;
    text-align: center;
    margin-top: 70px;
}