* {
  box-sizing: border-box;
}

*:not(button, a, span) {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

title {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  width: 100%;
  padding: 40px 120px 0;
}

.headerWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.menu-list {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  height: 24px;
  margin-right: 83px;
  display: flex;
  justify-content: space-between;
}

.menu-element {
  margin-right: 20px;
}

.phone-number {
  color: white;
  align-items: center;
  display: flex;
}

.phone-icon {
  width: 35px;
  margin-right: 5px;
}

.number {
  align-items: center;
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.intro {
  background: url(/images/main-picture.svg);
  background-size: cover;
  height: 1110px;
  padding-top: 300px;
  padding-left: 120px;
  justify-content: flex-start;
  flex-direction: column;
}

h1 {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: #f7f2f2;
  display: block;
  margin-top: 50px;
}

.description-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #f7f2f2;
  margin-top: 0;
  margin-bottom: 150px;
}

.how-to-dance {
  height: 80px;
  border-radius: 40px;
  background-color: #f46c20;
  color: #351d01;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  width: 350px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.social {
  height: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  box-sizing: border-box;
  flex-direction: column;
  width: 25%; 
}

.social-elements-container {
  flex-direction: row;
}

.social li {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.what-to-do {
  padding-left: 12px;
  color: #ffffff;
}

main,
header,
footer {
  width: 100%;
}

.sensual {
  height: 594px;
  justify-content: space-evenly;
  margin-top: 100px;
}

.sensual > div {
  margin-right: 83px;
}

.text-sensual {
  display: inline-block;
  white-space: normal;
  flex-wrap: wrap;
}

.sensual-title {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: #141414;
  margin: 5px;
}

.sensual-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #141414;
  padding-top: 40px;
}

.join-a-group-btn {
  border: 3px solid #f46c20;
  background-color: transparent;
  color: #f46c20;
  border-radius: 40px;
  height: 80px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  margin-top: 70px;
}

.trial {
  margin-top: 100px;
  background: url(/images/trial-picture.svg);
  background-size: cover;
  height: 800px;
}

.trial-container {
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  margin-right: 120px;
  
}

.text-trial {
  flex-direction: column;
  width: 25%;
  margin-right: 50px;
  display: block;
}

.trial-description {
  font-family: Montserrat;
  font-size: 35px;
  text-align: left;
  color: #ffffff;
  padding-top: 35px;
  display: flex;

}


.trial-request {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.send-button {
  border: 2px solid #f46c20;
  background-color: transparent;
  color: #f46c20;
  border-radius: 40px;
  height: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 25px;
  font-weight: 600;
  align-items: center;
  display: flex;
  padding-left: 40px;
}

input {
  border-color: #ffffff;
  border: 2px solid;
  background-color: transparent;
  color: #ffffff;
  border-radius: 40px;
  height: 80px;
  margin-bottom: 28px;
}

.personal-data-agreement {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.09em;
  color: #ffffff;
  margin-top: 15px;
}

*::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #c4c4c4;
  padding-left: 35px;
}

.program {
  width: 100%;
  margin-top: 100px;
}

.program-title {
  font-family: Playfair Display;
  font-size: 40px;
  text-align: left;
  color: #141414;
  margin: 5px;
}

.program-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  color: #141414;
  padding-top: 40px;
  flex-direction: column;
  padding-left: 120px;
  margin-right: 70px;
}

.reviews {
  border: 3px solid #f46c20;
  background-color: transparent;
  color: #f46c20;
  border-radius: 40px;
  font-family: "Montserrat";
  margin-top: 80px;
  font-size: 25px;
  font-weight: 600;
  display: block;
  box-sizing: border-box;
  width: 350px;
  height: 80px;
}

.program-image {
  height: 528px;
}

footer {
  background: linear-gradient(269.59deg, #fdaafa 0.19%, #b1dfff 99.86%);
  margin-top: 100px;
  justify-content: space-between;
  height: 220px;

}

footer .logo {
  display: block;
  margin-left: 120px;
  padding: 50px 0;
}

.terms {
  display: flex;
  align-items: center;
}

.terms li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #141414;
  margin-right: 42px;
  width: 300px;
}



.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 120px;
  align-items: center;
}

.contacts li {
  margin-left: 20px;
}

.contacts li:last-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  align-items: center;
}
